@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<div class="container">
  <h4>Add a new machine</h4>

  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)

    @Html.Label("Select engineer")
    @Html.DropDownList("EngineerId")

    <input type="submit" value="Add new machine" class="btn btn-primary" />
  }
  <p>@Html.ActionLink("Show all machines", "Index")</p>
</div>