@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<div class="container">
  <h2>Machine Details</h2>
  <hr />
  <h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h3>

  @if(@Model.JoinEntities.Count == 0)
  {
    <p>This machine is not licensed to repair by any engineers</p>
  }
  else
  {
    <h4>Engineers the machine is licensed to repair:</h4>
    <ul>
    @foreach(var join in Model.JoinEntities)
    {
      <li>@join.Engineer.Name</li>
      @using (Html.BeginForm("DeleteEngineer", "Machines"))
        {
          @Html.Hidden("joinId", @join.EngineerMachineId)
          <input type="submit" value="Delete" class=" btn btn-danger" />
        }
    }
    </ul>
  }

  <p>@Html.ActionLink("Add a Engineer", "AddEngineer", new { id = Model.MachineId })</p>

  <p>@Html.ActionLink("Back to list", "Index")</p>
  <p>@Html.ActionLink("Edit Machine", "Edit", new { id = Model.MachineId })</p>
  <p>@Html.ActionLink("Delete Machine", "Delete", new { id = Model.MachineId })</p>
</div>