@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<div class="container">
  <h2>Engineer Details</h2>
  <hr />
  <h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

  @if(@Model.JoinEntities.Count == 0)
  {
    <p>This engineer does not contain any machines licensed to repair</p>
  }
  else
  {
    <h4>Engineers licensed to repaire these machines:</h4>
    <ul>
    @foreach(var join in Model.JoinEntities)
    {
      <li>@join.Machine.Description</li>
    }
    </ul>
  }

  <p>@Html.ActionLink("Back to engineers", "Index")</p>
  <p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</p>
  <p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</p>
</div>